.agent, .company{
    padding: 58px 0 75px 0;
    height: 230px;
    background: url('../img/3-screen/bg0.jpg') center (center/cover) no-repeat;
    &_1{
        background: url('../img/5-screen/bg1.jpg') center (center/cover) no-repeat;
    }
    &__circle{
        margin: 0 auto;
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title{
        font-size: 26px;
        line-height: 23px;
        text-align: center;
        font-weight: 700;
        color: #ffffff;
    }
    &__text{
        width: 985px;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        margin: 0 auto;
    }
}